.container-header {
  background-color: #F8F8F8;
  color: black;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Source Sans Pro;
  .title {
    padding-left: 26px;
    margin-right: 5em;
    //styleName: 1. 🔠Page title/$Desktop;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
  }

  .link {
    padding-right: 26px;
    text-align: end;
  }
}
