{
    "presets": [["@babel/preset-env", {"modules": "commonjs"} ], "@babel/react"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        ["@babel/plugin-proposal-class-properties", {}, "unique-name-to-avoid-error-should-be-removed"]
    ]
}
