**/.cache/
.settings
.classpath
.project
.settings/
.classpath
*.stackdump
target/
rebel.xml
rebel-remote.xml
*.jar
deploy.bat
target
bin/
*.releaseBackup
release.properties
*.orig
.metadata

#Node
/node_modules
/*/node_modules
/*/build/*

#VSCODE
.vscode/

#Parcel
/dist

#IntelliJ
*.iml
.idea/

