.sidebar_viewer {
    z-index: 10;
    overflow: auto;
    --sidebar-width: 250px;
    width: var(--sidebar-width);
}

.sidebar_viewer.wide {
    --sidebar-width: 340px;
}

/* .sidebar_viewer .pdfrenderer_container .pdfViewer::-webkit-scrollbar {

  cursor: ew-resize;
} */

.sidebar_viewer .title {
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: var(--ax-neutral-900);
    padding: 8px 0;
}
.sidebar_viewer .title,
.sidebar_viewer .title.navds-detail {
    color: white;
}

.sidebar_viewer .pagesection {
    position: sticky;
    z-index: 100000;
    background-color: var(--ax-neutral-900);
    border-bottom: 2px solid var(--ax-border-neutral-strong);
}

.sidebar_viewer .pagesection .page-section-title {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    width: calc(var(--sidebar-width) - 70px);
}

.sidebar_viewer .pdfrenderer_container {
    background-color: #595959b3;
}

.sidebar_viewer .pagenumber {
    color: white;
}

.sidebar_viewer .pdfrenderer_container {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    left: 0%;
}

.sidebar_viewer.inactive .pdfrenderer_container {
    left: -100%;
}

.sidebar_viewer.pagesize_small .pdfrenderer_container .thumbnail_decorator {
    margin-bottom: -20px;
}

.sidebar_viewer.pagesize_small .pdfrenderer_container .thumbnail_decorator .pagenumber {
    font-size: 12px;
    margin-left: 10px;
}

.sidebar_viewer .pdfrenderer_container {
    width: var(--sidebar-width);
}

.sidebar_viewer .pdfrenderer_container .pdfViewer {
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar_viewer .thumbnail_page_container .page {
    width: calc(var(--page-width) * var(--scale-factor));
    height: calc(var(--page-height) * var(--scale-factor));
    margin: auto;
}

.sidebar_viewer .thumbnail_page_container .maskingItem {
    z-index: 0;
    top: calc(var(--masking-top) * var(--scale-factor));
    left: calc(var(--masking-left) * var(--scale-factor));
    transform: inherit;
}
.sidebar_viewer .thumbnail_page_container .page canvas {
    transform: scale(1);
}

.sidebar_viewer .thumbnail_page_container .page .canvasWrapper {
    width: inherit;
    height: inherit;
}

.sidebar_viewer .pdfrenderer_container .pdfViewer-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar_viewer .pdfrenderer_container .pdfViewer {
    background-color: unset;
    overflow: unset;
    width: unset;
}

.thumbnail_page_container {
    top: -25px;
    z-index: 1000;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    text-align: inherit;
    color: inherit;
    cursor: pointer;
}

.thumbnail_page_container .pagenumber {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: -2px;
}

.thumbnail_page_container.infocus .page {
    opacity: 100%;
}

.thumbnail_decorator.deleted .page {
    opacity: 10%;
}

.thumbnail_page_container .page {
    cursor: pointer;
    opacity: 60%;
}
