TEST_ENV=local
E2E_BRUKERIDENT=izeMRrZUB
E2E_SAKSNUMMER=2600067
E2E_SAMHANDLER_ID=85000000088
E2E_BEHANDLING_ID=1
E2E_VEDTAK_ID=1410
E2E_JOURNALPOST_ID=JOARK-454178931
E2E_DOKUMENTREFERANSE=454608195
E2E_FORSENDELSE_ID=BIF-1000012678
E2E_ENDRINGSLOGG_ID=74
E2E_BROADCAST_CHANNEL=playwright
E2E_ENHET=4805
E2E_TESTPERSON_NAVN=Te
