.AvvikshandteringModal {
  padding: 2rem;
  max-width: 76rem;
  min-width: 76rem;

  @media (max-width: 76rem) {
    min-width: 50rem;
  }

  @media (max-width: 50rem) {
    min-width: 25rem;
  }
  @media (max-width: 25rem) {
    min-width: unset;
  }

  .AvvikshandteringModal__spinner-wrapper {
    text-align: center;
  }

  .typo-innholdstittel {
    margin-bottom: 2rem;
  }

  .stegindikator {
    margin-bottom: 2rem;
  }

  .typo-normal {
    margin-bottom: 1rem;
  }

  .EndreFagomrade__checkbox {
    margin-top: 1rem;
  }

  .knapp--hoved {
    margin-top: 2rem;
  }
}
