
.no-access-modal {
  min-width: 530px;
  min-height: auto;
  .alertstripe {
    margin-top: 20px;
    height: auto;
  }
  .button-panel {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
  }
}
