.dokumenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  .dokument-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 25rem;
    height: 35px;

    .view-document-button {
      position: relative;
      align-self: center;

      :hover {
        cursor: pointer;
      }

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}
