.AvvikshandteringMainMenu {
  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 1rem;
      width: 22rem;

      .AvvikshandteringMenuEntry__content {
        display: flex;
        align-items: center;

        .typo-systemtittel {
          margin-left: 1rem;
        }
      }
    }
  }
}
