.dokumenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.dokumenter .dokument-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 25rem;
    height: 35px;
}
.dokumenter .dokument-item .view-document-button {
    position: relative;
    align-self: center;
}
.dokumenter .dokument-item .view-document-button :hover {
    cursor: pointer;
}
.dokumenter .dokument-item .view-document-button svg {
    height: 20px;
    width: 20px;
}
