.editor_toolbar {
    background-color: var(--ax-neutral-900);
    height: max-content;
}
.editor_toolbar .toolbar_content button {
    color: white;
}

.editor_toolbar .toolbar_content .navds-heading {
    color: white;
    align-self: center;
}

.editor_toolbar .document-title {
    max-width: 40vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*.editor_toolbar .toolbar_content button:hover {*/
/*  color: unset;*/
/*}*/
/*.editor_toolbar .toolbar_content button.navds-button--tertiary-neutral:hover {*/
/*  background-color: var(--ax-bg-neutral-soft);*/
/*  color: black;*/
/*}*/

.editor_toolbar .divider {
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-right: 1px solid var(--a-border-neutral);
}
.editor_toolbar div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
.editor_toolbar div button {
    margin: 5px 10px;
    color: black;
}
.editor_toolbar div .buttons_left {
    justify-content: flex-end;
    align-items: flex-end;
}
.editor_toolbar div .buttons_right {
    justify-content: flex-end;
    align-items: flex-end;
}
.editor_toolbar div .pages_view {
    align-items: center;
    color: white;
    justify-content: center;
}

/*.editor_toolbar .save-state-indicator circle.navds-loader__background {*/
/*  stroke: white;*/
/*}*/

/*Prgoress bar*/
.save-state-indicator {
    color: white;
}
.progress-bar {
    border: 3px solid var(--ax-bg-neutral-soft);
    border-radius: var(--ax-radius-12);
}

.progress-bar .container {
    background-color: var(--ax-bg-neutral-soft);
}

.progress-bar .barCompleted {
    background-color: var(--ax-bg-success-soft);
}

.progress-bar .label {
    font-size: 20px;
    color: green;
}
