@import "../../variables.less";

.journalpost-title {
  margin-bottom: 20px;

  .skjemaelement__input {
    font-size: 2.5rem;
    width: auto;
  }
}

.dokumenter_panel() {
  .dokumenter-panel {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    .dokument-item {
      display: flex;
      flex-direction: row;
      gap: 8px;
      width: 30rem;

      .view-document-button {
        position: relative;
        align-self: center;

        :hover {
          cursor: pointer;
        }

        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

}

.sakstilknyttning_panel() {
  .sakstilknyttningpanel {
    .no-sak-alert {
      padding: 15px 0;
    }

    table {
      .row-cell--combined {
        p {
          margin: 0
        }
      }

      .row-checbox {
        .skjemaelement {
          position: relative;
          top: -9px;
          right: -9px;
        }
      }
    }

    .ny-sak-button {
      margin-top: 15px;
    }
  }
}

.vis-journalpost-container {
  .sakstilknyttning_panel();
  .dokumenter_panel();
  .bottom-buttons {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: @distance--m
  }
}
