.maskingitem.highlighted {
    border: 2px solid var(--ax-border-accent);
}
.maskingitem {
    border: 2px solid var(--ax-border-neutral-strong);
}

.toolbar {
    z-index: 9999999999;
    --thm: 0px;
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    height: 40px;
    width: max-content;
    background-color: white;
    border: 1px solid var(--ax-border-neutral);
    padding: 4px;
    border-radius: 6px;
    margin-bottom: -40px;
    right: 0;
    box-shadow:
        0px 4.8px 10.8px rgba(0, 0, 0, 0.25569638034578496),
        0px 0px 4.7px rgba(0, 0, 0, 0.21635847567720265);
    bottom: 0;
    flex-direction: row;
    gap: 5px;
}

.toolbar .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--ax-border-neutral);
    height: 100%;
}

.toolbar .toolbar-item:focus {
    box-shadow: none;
}
.toolbar .toolbar-item svg {
    color: var(--ax-text-neutral);
}
.toolbar .toolbar-item.delete svg {
    color: var(--ax-bg-danger-strong);
}
